*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--app-font-family);
  /*max-width: 1024px;*/
}


.app {
  color: var(--color1);
  font-size: var(--app-font-size);
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto auto 1fr;
  align-items: center;
  padding: 15px;
}

@media (max-width: 600px) {
  :root {
    --app-font-size: 1.5em;
  }
}

@media (max-width: 460px) {
  :root {
    --app-font-size: 1.25em;
  }
}

@media (max-width: 380px) {
  :root {
    --app-font-size: 1em;
  }
}


label {
  font-weight: 500;
  color: inherit;
}


.value-meter-container {
  position: relative;
}

.value-meter-label {
  --color: #fff;
  --shadowColor: #000;

  display: flex;
  align-items: center;
  color: var(--color);
  text-shadow: 0 1px var(--shadowColor),
               0 -1px var(--shadowColor),
               -1px 0 var(--shadowColor),
               1px 0 var(--shadowColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5em;
  font-size: 75%;
}

.value-meter {
  width: 100%;
}


.value-output {
  text-align: right;
}

.max-value-output {
  text-align: left;
  color: rgba(0, 0, 0, 0.25);
}
.max-value-output::before {
  content: '/';
  color: rgba(0, 0, 0, 0.15);
  margin-left: -10px;
}
.max-value-output:empty {
  visibility: hidden;
}

.value-percent {
  text-align: right;
  /*border-left: 1px solid rgba(0, 0, 0, 0.15);*/
  padding-left: 0.5em;
}
.value-percent::after {
  content: '%';
  color: rgba(0, 0, 0, 0.15);
}

